body {
  margin: 0;
  font-family: "Open Sans";
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  height: 46px;
  @media (max-width: 390px) {
    width: 100%;
  }
}

.logo {
  background: url('/resources/images/Logo.png');
  background-repeat: no-repeat;
  width: 100%;
  margin: 10px 0 10px 350px;

  @media (max-width: 390px) {
    background: url('/resources/images/Logo.png');
    background-repeat: no-repeat;
    width: 60%;
    margin: 10px 0 10px 10px;

  }
}

.info-block {
  display: none;
  @media (max-width: 390px) {
    background-color: #FDB913;
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.top {
  position: relative;
}

.background-img {
  position: relative;
  background: url('/resources/images/header-desktop.png');
  height: 470px;
  @media (max-width: 390px) {
  background: url('/resources/images/header-mobile.png');
    height: 220px;
  }
}

.headline {
  position: absolute;
  bottom: 0;
  margin-left: 350px;
  @media (max-width: 390px) {
    background-color: black;
    width: 100%;
    height: 79px;
    opacity: 60%;
    text-align: center;
    line-height: 10px;
    margin-left: 0;
  }
  h1 {
      font-size: 40px;
      color: white;
      font-weight: 100;
      margin-bottom: 0;
      @media (max-width: 390px) {
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 25px;
      }
    }
    h3 {
      font-weight: 600;
      font-size: 18px;
      color: #FDB913;
      margin-top: 10px;
      margin-bottom: 30px;
      @media (max-width: 390px) {
        color: white;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
      }
    }

}

.copy {
  margin: 35px 15px 30px 350px;
  max-width: 500px;
  @media (max-width: 390px) {
    margin: 35px 15px 30px 15px;
  }
  p {
    line-height: 26px;
    color: #505050;
    letter-spacing: 0;
    
  }
}

.details {
  margin: 35px 15px 30px 350px;
  max-width: 500px;
  margin-bottom: 75px;
  @media (max-width: 390px) {

    margin: 15px;
    background-color: #F1F1F0;
    width: 360px;
    height: 359px;
  }

  h1 {
    color: #505050;
    font-weight: 100;
    padding-top: 15px;
    @media (max-width: 390px) {

      margin: 15px;
    }
  }
  p {
    line-height: 26px;
    color: #505050;
    letter-spacing: 0;
    @media (max-width: 390px) {

      margin: 15px
    }
  }
  a {
    color: #CC4B00;
    @media (max-width: 390px) {

      margin: 35px 15px;
    }
    img {
      margin-right: 10px;
      margin-bottom: -4px;
    }
  }
}

hr {
  display: none;
  @media (max-width: 390px) {
    display:block;
    width: 90%;
    background-color:#F1F1F0;
  }
}

.request-info {
    position: absolute;
    right: 100px;
    top: 200px;
    width: 380px;
    height: 575px;
    background-color: #ffffff;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    h1 {
      font-weight: 100;
      width: 186px;
      font-size: 32px;
    }
    .number {
      color:#CC4B00;
      text-decoration: underline;
      font-weight: bold;
    }
  @media (max-width: 390px) {
    box-shadow: unset;
    margin: 35px;
    height: 517px;
    position: unset;
    padding: unset;
    width: unset;
  }
  
}
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  
    hr {
      display: block;
      width: 40px;
      margin-left: 0;
      background-color: #F5B914;
      height: 3px;
      border: none;
    }
    label {
      font-weight: bold;
      color: #505050;
      margin-bottom: 10px;
      padding-left: 5px;
      span { 
        color:#CC4B00;
      }
    }
    select {
      width: 100%;
      height: 28px;
      color: #505050;
      
      border-color: #D6D6D6;
      /* color: #F5B914; */
      margin-bottom: 10px;
      border-right: none;
      border-top: none;
    }
  }
    
  input {
    margin-bottom: 10px;
    width: 100%;
    border-color: #D6D6D6;
    border-right: none;
    border-top: none;
  }


.checkboxes {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  margin-bottom: 50px;
}
.box { 
  display: flex;  
  width: 100%;
  input {
    margin-right: 10px;
    width: 30px;
  }
}
.submit {
  background-color: #CC4B00;
  height: 56px;
  width: 100%;
  border: none;
  color: #ffffff;
  font-size: 16px;
}
footer {
height: 480px;

width: 100%;
background-color: #505050;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
@media (max-width: 390px) {
  height: 665px;

}
  hr {
    display: block;
    width: 95%;
    border: .5px solid #626262;
  }


}
.footer-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;

  .footer-logo {

    margin-top: 40px;

    @media (max-width: 390px) {

      width: 70%; 
    }

  }
  .dream {
    margin-top: 20px;
    @media (max-width: 390px) {

      width: 100%;
    }
  }
}

.footer-copy {
  text-align: center;
  margin: 20px 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  line-height: 20px;
  p {
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 0;
  }
}
.copyright {
  font-size: 11px;
  text-align: center;
  height: 70px;
  width: 100%;
  color: #D6D6D6;
  background-color: #454545;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: absolute;
}